AppFactory/Samples/InfoHubPhone8/Template/SampleData/ReaderPageSampleData/ReaderPageSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ReaderPageSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ReaderPageSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReaderPageSampleData" type="tns:ReaderPageSampleData" />
  <xs:complexType name="ReaderPageSampleData">
    <xs:sequence>
      <xs:element name="Links" type="tns:Links" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Links">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="LinksItem" type="tns:LinksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LinksItem">
    <xs:attribute blend:FormatParameters="38,8" name="Caption" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="Url" type="xs:string" />
  </xs:complexType>
</xs:schema>