AppFactory/Samples/LocalPhone/Template/SampleData/ActivitySampleData/ActivitySampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ActivitySampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ActivitySampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ActivitySampleData" type="tns:ActivitySampleData" />
  <xs:complexType name="ActivitySampleData">
    <xs:sequence>
      <xs:element name="Activities" type="tns:Activities" />
    </xs:sequence>
    <xs:attribute name="TrialModeOver" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Activities">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ActivitiesItem" type="tns:ActivitiesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivitiesItem">
    <xs:sequence>
      <xs:element name="SocialActivity" type="tns:SocialActivity" />
      <xs:element name="ImageEnclosures" type="tns:ImageEnclosures1" />
      <xs:element name="FirstImage" type="tns:FirstImage" />
    </xs:sequence>
    <xs:attribute name="ImagesExist" type="xs:boolean" />
    <xs:attribute blend:Format="Date" name="ActivitySourceAndTime" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SocialActivity">
    <xs:attribute name="NotRead" type="xs:boolean" />
    <xs:attribute blend:Format="Name" name="Author" type="xs:string" />
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="ActivitySourceAndTime" type="xs:string" />
    <xs:attribute name="Read" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="100,8" name="Description" type="xs:string" />
    <xs:attribute blend:Format="Name" name="FeedSourceName" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ImageEnclosures1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ImageEnclosuresItem1" type="tns:ImageEnclosuresItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageEnclosuresItem1">
    <xs:attribute name="IconUrl" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="FirstImage">
    <xs:attribute blend:FormatParameters="SampleData\ActivitySampleData\ActivitySampleData_Files" name="IconUrl" type="tns:Basic-Image" />
  </xs:complexType>
</xs:schema>